<div class="d-flex align-items-center flex-column mt-5">
	<i class="fa-regular fa-face-frown" style="font-size: 88px"></i>
	<h1>404</h1>
	Извините, страница, которую вы посетили, не существует.
</div>
